@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans-Light/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light/OpenSans-Light.eot?iefix") format("eot"), url("../fonts/OpenSans-Light/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.eot?iefix") format("eot"), url("../fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans.eot");
  src: url("../fonts/OpenSans/OpenSans.eot?iefix") format("eot"), url("../fonts/OpenSans/OpenSans.woff") format("woff"), url("../fonts/OpenSans/OpenSans.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans-Semibold/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold/OpenSans-Semibold.eot?iefix") format("eot"), url("../fonts/OpenSans-Semibold/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.eot?iefix") format("eot"), url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

.wrapper {
  width: 100%;
  min-width: 320px;
  font: 100% "OpenSans", sans-serif; }

.section-header {
  width: 100%;
  max-width: 1920px;
  padding-top: 10px;
  padding-bottom: 17px;
  position: relative; }
  .section-header::after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("../img/mountaines.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    width: 100%;
    height: 90px; }

.header {
  position: relative;
  z-index: 1; }
  .header-logo img {
    width: 100%;
    height: auto;
    max-width: 137px; }
  .header-call {
    padding-top: 25px;
    padding-right: 34px;
    padding-left: 70px; }
    .header-call-item {
      font: 100% "OpenSans-Bold", sans-serif;
      color: #000;
      font-size: 18px;
      display: inline-block;
      position: relative;
      line-height: 1; }
      .header-call-item:hover {
        color: #000;
        text-decoration: none; }
      .header-call-item:first-child {
        padding-right: 30px; }
        .header-call-item:first-child::after {
          content: " ";
          position: absolute;
          width: 1px;
          top: 0;
          bottom: 0;
          right: 13px;
          background: #000; }
  .header-form {
    position: relative;
    display: block; }
    .header-form::after {
      content: " ";
      position: absolute;
      right: 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background-image: url("../img/search-icon.png"); }
    .header-form-search {
      width: 100%;
      display: block;
      border: none;
      background: #fbfaf7;
      height: 36px;
      font: 100% "OpenSans-Light", sans-serif;
      font-size: 14px;
      padding-left: 10px;
      padding-right: 35px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .header-form-search:focus {
        outline: 1px solid #8dc63f; }
  .header-search {
    padding-top: 25px; }

input[type="search"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.call-order {
  width: 100%;
  text-align: right; }
  .call-order-str {
    font: 100% "OpenSans-Light", sans-serif;
    font-size: 14px;
    border-bottom: 1px dotted #000;
    color: #000; }
    .call-order-str:hover {
      border-bottom: none;
      color: #000;
      text-decoration: none; }

.aside-left {
  float: left;
  width: 45%; }

.aside-right {
  float: left;
  width: 55%; }

.siteMenu {
  font: 100% "OpenSans-Light", sans-serif;
  font-size: 14px; }
  .siteMenu li.active {
    position: relative; }
    .siteMenu li.active::before {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 200%;
      background: #8dc63f;
      margin-left: -200%; }
    .siteMenu li.active a {
      font: 100% "OpenSans-Semibold", sans-serif;
      background: #8dc63f;
      color: #fff;
      position: relative; }
  .siteMenu li a {
    display: block;
    padding: 15px 5px 15px 10px;
    text-decoration: none;
    color: #000;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear; }
    .siteMenu li a:hover {
      background: #8dc63f;
      color: #fff; }

.mainMenu {
  font: 100% "OpenSans", sans-serif;
  font-size: 14px;
  background: #e5e3df; }
  .mainMenu li.active a {
    font: 100% "OpenSans-Semibold", sans-serif;
    color: #8dc63f;
    background: #fff; }
  .mainMenu li a {
    display: block;
    padding: 15px 5px 15px 20px;
    text-decoration: none;
    color: #000;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear; }
    .mainMenu li a:hover {
      background: #fff; }

.feedback {
  padding: 60px 15px;
  background: #f8f6f0;
  position: relative; }
  .feedback::before {
    content: " ";
    background: #f8f6f0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200%;
    margin-left: -200%; }
  .feedback p {
    font: 100% "OpenSans", sans-serif;
    font-size: 24px;
    margin-bottom: 20px; }
  .feedback span {
    font: 100% "OpenSans-Light", sans-serif;
    font-size: 14px; }
  .feedback-form {
    padding-top: 20px;
    font: 100% "OpenSans-Light", sans-serif;
    font-size: 14px;
    padding-bottom: 20px;
    position: relative; }
    .feedback-form::after {
      content: " ";
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 1px;
      background: #000; }
    .feedback-form-name, .feedback-form-email, .feedback-form-phone, .feedback-form-message {
      height: 45px;
      display: block;
      border: none;
      width: 100%;
      padding: 0 17px;
      margin-bottom: 17px; }
      .feedback-form-name:focus, .feedback-form-email:focus, .feedback-form-phone:focus, .feedback-form-message:focus {
        outline: 1px solid #8dc63f; }
    .feedback-form-message {
      padding-top: 10px;
      min-height: 100px; }
    .feedback-form-check {
      display: block; }
    .feedback-form-checkbox {
      margin-right: 15px;
      display: block;
      padding-left: 10px; }
    .feedback-form-send {
      display: block;
      width: 130px;
      height: 45px;
      border: none;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 30px;
      -webkit-transition: .2s linear;
      -o-transition: .2s linear;
      transition: .2s linear; }
      .feedback-form-send:hover {
        background: #8dc63f;
        color: #fff; }

.downloadPrice {
  font: 100% "OpenSans-Light", sans-serif;
  background: #8dc63f;
  padding: 35px 0 50px 15px;
  position: relative; }
  .downloadPrice::before {
    content: " ";
    background: #8dc63f;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200%;
    margin-left: -200%; }
  .downloadPrice p {
    font: 100% "OpenSans-Semibold", sans-serif;
    font-size: 25px;
    color: #fff;
    margin-bottom: 5px; }
  .downloadPrice span {
    font-size: 14px;
    display: block;
    margin-bottom: 20px; }
  .downloadPrice a {
    text-transform: uppercase;
    font-size: 18px;
    color: #000;
    text-decoration: underline; }
    .downloadPrice a:hover {
      text-decoration: none;
      color: #000; }

.socialIcon {
  padding: 50px 15px; }
  .socialIcon li {
    display: inline-block; }
    .socialIcon li a {
      font-size: 24px;
      width: 36px;
      height: 36px;
      display: block;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #8dc63f;
      text-align: center;
      -webkit-transition: .2s linear;
      -o-transition: .2s linear;
      transition: .2s linear;
      color: #fff; }
      .socialIcon li a:hover {
        background: #84b343; }

.slider {
  position: relative;
  margin-left: -32px; }
  .slider-item {
    width: 100%;
    min-height: 445px;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer; }
    .slider-item::after {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.35); }
    .slider-item p {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 30px 45px;
      text-align: center;
      background: rgba(255, 255, 255, 0.8);
      font-size: 18px;
      z-index: 10;
      max-width: 50%; }
    .slider-item h1 {
      font-size: 33px;
      line-height: 1;
      color: #fff;
      width: 50%;
      margin-left: auto;
      padding-top: 75px;
      padding-left: 25px;
      padding-right: 30px;
      position: relative;
      z-index: 10; }
      .slider-item h1 span {
        font: 100% "OpenSans-Bold", sans-serif;
        font-size: 43px;
        line-height: 1; }

.slick-dots {
  position: absolute;
  right: 15px;
  bottom: 25px; }
  .slick-dots li {
    display: inline-block; }
    .slick-dots li button {
      width: 36px;
      border: none;
      height: 36px;
      background: #fff;
      margin-left: 1px;
      color: #000;
      font-size: 15px; }

.slick-dots > .slick-active button {
  color: #fff;
  background: #8dc63f; }

.links {
  padding-top: 23px;
  padding-bottom: 20px; }
  .links li {
    display: inline-block;
    padding-right: 20px; }
    .links li a {
      font: 100% "OpenSans-Light", sans-serif;
      font-size: 14px;
      color: #000; }

.main-ttu {
  text-transform: uppercase; }

.main h2 {
  font: 100% "OpenSans-Bold", sans-serif;
  font-size: 35px;
  color: #8dc63f;
  padding-bottom: 20px;
  line-height: 1;
  padding-top: 20px; }
  .main h2 p {
    padding-left: 20px;
    display: inline-block;
    padding-right: 10px;
    background: #8dc63f;
    color: #fff;
    line-height: 1; }

.content {
  padding-top: 15px; }
  .content h3 {
    font: 100% "OpenSans-Semibold", sans-serif;
    font-size: 24px;
    margin-bottom: 25px; }
  .content h4 {
    margin-top: 40px;
    margin-bottom: 30px;
    font: 100% "OpenSans-Semibold", sans-serif;
    font-size: 18px; }
  .content p {
    font: 100% "OpenSans-Light", sans-serif;
    margin-bottom: 35px; }
    .content p a {
      text-decoration: underline; }
      .content p a:hover {
        text-decoration: none; }
  .content > a {
    color: #000;
    font: 100% "OpenSans-Light", sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 20px; }
    .content > a::before {
      content: "+";
      width: 26px;
      height: 26px;
      background: #8dc63f;
      display: inline-block;
      text-align: center;
      margin-right: 10px;
      color: #fff; }
  .content-blockImg {
    padding: 40px 40px 1px 40px;
    background: #e5e3df;
    position: relative; }
    .content-blockImg::after {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background: #e5e3df;
      width: 200%;
      margin-right: -200%; }
  .content-img {
    width: 100%;
    height: 355px;
    background: #999;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center center;
    margin-bottom: 30px; }
  .content-options {
    background: #f8f6f0;
    margin-bottom: 45px;
    position: relative; }
    .content-options::after {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 200%;
      margin-right: -200%;
      background: #f8f6f0; }
  .content-list {
    padding: 10px 70px 30px;
    background: #f8f6f0;
    position: relative; }
    .content-list::after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background: #f8f6f0;
      width: 200%;
      margin-right: -200%; }
  .content-list1 {
    padding-left: 20px; }
    .content-list1 li {
      list-style: disc;
      color: #8dc63f;
      margin-bottom: 30px; }
      .content-list1 li p {
        color: #000;
        font: 100% "OpenSans-Semibold", sans-serif;
        font-size: 18px;
        margin-bottom: 10px; }
      .content-list1 li span {
        font: 100% "OpenSans-Light", sans-serif;
        font-size: 14px;
        color: #000; }
  .content-list2 {
    list-style: decimal; }
    .content-list2 li {
      margin-left: 20px;
      font: 100% "OpenSans-Semibold", sans-serif; }
      .content-list2 li p {
        margin-bottom: 15px;
        font: 100% "OpenSans-Light", sans-serif; }
  .content-text {
    margin-top: 40px;
    padding: 10px 70px;
    background: #f8f6f0;
    position: relative; }
    .content-text::after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background: #f8f6f0;
      width: 200%;
      margin-right: -200%; }
  .content-list3 {
    list-style: decimal;
    padding-left: 60px;
    padding-bottom: 30px; }
    .content-list3 li {
      font: 100% "OpenSans-Bold", sans-serif;
      font-size: 24px;
      color: #8dc63f;
      padding-left: 10px;
      margin-bottom: 15px; }
      .content-list3 li a {
        font: 100% "OpenSans-Semibold", sans-serif;
        font-size: 18px;
        text-decoration: underline; }
        .content-list3 li a:hover {
          text-decoration: none; }
      .content-list3 li span {
        display: block;
        font: 100% "OpenSans-Light", sans-serif;
        font-size: 14px;
        color: #000; }
        .content-list3 li span a {
          font-size: 14px;
          font: 100% "OpenSans-Light", sans-serif; }
      .content-list3 li p {
        font: 100% "OpenSans-Semibold", sans-serif;
        color: #000;
        font-size: 18px;
        margin-bottom: 0; }
  .content-delivery {
    padding: 40px;
    background: #e5e3df;
    z-index: 1;
    margin-bottom: 40px;
    position: relative; }
    .content-delivery::before {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background: #e5e3df;
      width: 200%;
      margin-right: -200%; }
    .content-delivery::after {
      content: " ";
      position: absolute;
      width: 92px;
      height: 82px;
      background-image: url("../img/delivery-icon.png");
      background-repeat: no-repeat;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: -1; }
    .content-delivery a {
      color: #000;
      display: inline-block;
      font: 100% "OpenSans-Light", sans-serif;
      font-size: 18px; }
      .content-delivery a::before {
        content: "+";
        width: 26px;
        height: 26px;
        background: #8dc63f;
        display: inline-block;
        text-align: center;
        margin-right: 10px;
        color: #fff; }
    .content-delivery p {
      margin-bottom: 20px; }
    .content-delivery h3 {
      margin-bottom: 20px; }
  .content-warning {
    background: #e5e3df;
    padding: 37px 42px 17px;
    margin-bottom: 20px;
    position: relative; }
    .content-warning::before {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background: #e5e3df;
      width: 200%;
      margin-right: -200%; }
    .content-warning h3 {
      margin-bottom: 0; }
    .content-warning p {
      font: 100% "OpenSans-Light", sans-serif;
      margin-bottom: 20px; }
    .content-warning-link {
      font: 100% "OpenSans-Light", sans-serif;
      padding-bottom: 0; }
  .content-table > p {
    padding-top: 25px; }

.options-item {
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #fff;
  min-height: 220px; }
  .options-item > p {
    font: 100% "OpenSans-Bold", sans-serif;
    line-height: 1;
    color: #8dc63f;
    font-size: 41px;
    margin-bottom: 20px; }
  .options-item span {
    font: 100% "OpenSans-Light", sans-serif;
    font-size: 14px; }

.order {
  margin-bottom: 40px; }
  .order-item {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 15px;
    position: relative;
    width: -webkit-calc(32.333% - 15px);
    width: calc(32.333% - 15px);
    margin-left: 14px;
    min-width: 210px;
    min-height: 306px; }
    .order-item:nth-child(4) {
      border-top: 4px solid #8dc63f;
      border-bottom: 4px solid #8dc63f; }
      .order-item:nth-child(4)::before {
        content: " ";
        width: 14px;
        height: 16px;
        position: absolute;
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
        right: -2px;
        top: -10px;
        background-image: url("../img/arrow-order.png"); }
      .order-item:nth-child(4)::after {
        content: " ";
        width: 14px;
        height: 16px;
        position: absolute;
        left: -2px;
        bottom: -10px;
        background-image: url("../img/arrow-order.png"); }
    .order-item:nth-child(5) {
      border-top: 4px solid #8dc63f;
      border-bottom: 4px solid #8dc63f; }
      .order-item:nth-child(5)::before {
        content: " ";
        width: 14px;
        height: 16px;
        position: absolute;
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
        right: -2px;
        top: -10px;
        background-image: url("../img/arrow-order.png"); }
      .order-item:nth-child(5)::after {
        content: " ";
        width: 14px;
        height: 16px;
        position: absolute;
        left: -2px;
        bottom: -10px;
        background-image: url("../img/arrow-order.png"); }
    .order-item:nth-child(6) {
      border-top: 4px solid #8dc63f;
      border-bottom: 4px solid #8dc63f;
      border-right: 4px solid #8dc63f;
      -webkit-border-radius: 0 20px 20px 0;
              border-radius: 0 20px 20px 0; }
      .order-item:nth-child(6)::after {
        content: " ";
        width: 14px;
        height: 16px;
        position: absolute;
        left: -2px;
        bottom: -10px;
        background-image: url("../img/arrow-order.png"); }
    .order-item h4 {
      font: 100% "OpenSans", sans-serif;
      font-size: 24px;
      color: #8dc63f;
      margin-bottom: 20px;
      margin-top: 0;
      position: relative;
      z-index: 10; }
    .order-item p {
      font-size: 14px;
      position: relative;
      z-index: 10;
      margin-bottom: 0; }
      .order-item p a {
        display: block; }
    .order-item span {
      font: 100% "OpenSans-ExtraBold", sans-serif;
      font-size: 60px;
      color: #e5e3df;
      position: absolute;
      right: 15px;
      bottom: 30px;
      line-height: 1;
      z-index: 1; }

.info-company {
  display: table;
  background: #f8f6f0;
  padding: 28px 15px 28px 0;
  position: relative; }
  .info-company::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 200%;
    margin-right: -200%;
    background: #f8f6f0; }
  .info-company p {
    font: 100% "OpenSans-Light", sans-serif;
    font-size: 18px;
    display: table-cell;
    vertical-align: middle; }

.info-logo {
  height: 100%;
  text-align: center;
  width: 20%; }
  .info-logo img {
    vertical-align: middle;
    margin: 0 50px; }

.section-main {
  position: relative;
  padding-bottom: 120px; }
  .section-main::after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("../img/mountaines.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    width: 100%;
    height: 90px; }

.section-map {
  width: 100%;
  height: 500px;
  background: #999;
  position: relative; }

.address {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  background: #8dc63f;
  color: #fff;
  padding-left: 60px;
  padding-top: 35px;
  padding-bottom: 35px;
  font: 100% "OpenSans-Light", sans-serif; }
  .address-phone {
    width: 50%;
    float: left; }
    .address-phone a {
      display: block;
      color: #fff;
      font-size: 22px; }
      .address-phone a:hover {
        text-decoration: none; }
  .address-town {
    float: left;
    width: 50%; }
    .address-town p {
      font-size: 22px; }
  .address-mail {
    width: 100%;
    margin-top: 30px; }
    .address-mail p {
      padding-bottom: 7px; }
      .address-mail p a {
        color: #fff; }

.input-check {
  display: inline-block;
  *display: inline;
  /* inline-block ie7 fix */
  *zoom: 1;
  vertical-align: top;
  position: relative;
  cursor: pointer; }

.input-check input {
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 30%;
  margin-top: -7px;
  cursor: pointer;
  z-index: 10;
  opacity: 0; }

.input-check label {
  font-size: 14px;
  line-height: 22px;
  display: block;
  padding-left: 30px;
  position: relative;
  z-index: 1;
  cursor: pointer; }

.input-check label::before {
  border: 1px solid #000;
  display: block;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 30%;
  width: 15px;
  height: 15px;
  margin-top: -7px;
  z-index: 5;
  content: ' ';
  background: url("../img/checkbox.png") no-repeat;
  background-position: 0 -14px; }

.input-check input:checked + label::before {
  background-position: center; }

.block-item {
  border: 2px solid transparent;
  padding: 0;
  margin: 0 10px 0 0;
  width: 100%;
  max-width: 267px;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear; }
  .block-item:hover {
    border: 2px solid #8dc63f; }
    .block-item:hover .block-txt {
      background: #8dc63f; }
      .block-item:hover .block-txt a {
        color: #fff; }
        .block-item:hover .block-txt a::before {
          background: #fff;
          color: #8dc63f; }
  .block-item-img {
    display: block;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    height: 192px;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
    position: relative; }
    .block-item-img:hover::after {
      background: transparent; }
    .block-item-img::after {
      -webkit-transition: .3s linear;
      -o-transition: .3s linear;
      transition: .3s linear;
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2); }

.block-txt {
  padding: 15px 15px 20px 15px;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
  font: 100% "OpenSans-Light", sans-serif;
  min-height: 284px;
  position: relative; }
  .block-txt h5 {
    font: 100% "OpenSans-Semibold", sans-serif;
    font-size: 18px;
    line-height: 1.2; }
  .block-txt p {
    padding-top: 20px;
    font-size: 14px;
    padding-bottom: 30px; }
  .block-txt a {
    color: #000;
    font-size: 18px;
    display: block;
    position: absolute;
    bottom: 20px;
    left: 15px; }
    .block-txt a::before {
      content: "+";
      width: 26px;
      height: 26px;
      background: #8dc63f;
      display: inline-block;
      text-align: center;
      margin-right: 10px;
      color: #fff; }

.contact {
  border-top: 1px solid #8dc63f;
  margin-bottom: 65px; }
  .contact-info {
    font: 100% "OpenSans-Light", sans-serif; }
    .contact-info p {
      margin-top: 5px;
      font-size: 22px; }
  .contact-tell {
    margin-top: 15px;
    margin-bottom: 15px; }
    .contact-tell a {
      display: block;
      color: #000;
      font-size: 22px; }
      .contact-tell a:hover {
        text-decoration: none; }
  .contact-email p {
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 7px; }
    .contact-email p a {
      display: block;
      color: #000; }
  .contact-map {
    padding: 0; }

.news {
  background: #f8f6f0;
  position: relative; }
  .news::before {
    content: " ";
    background: #f8f6f0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200%;
    margin-left: -200%; }
  .news-txt {
    padding: 0 30px 0 15px; }
  .news-img {
    display: block;
    background: #000;
    background-image: url("../img/news/photo1.jpg");
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 248px;
    width: 100%;
    font: 100% "OpenSans-Semibold", sans-serif;
    position: relative; }
    .news-img:hover {
      text-decoration: none; }
    .news-img-title {
      font-size: 24px;
      color: #fff;
      padding-left: 15px;
      padding-top: 25px; }
    .news-img-date {
      font-size: 36px;
      color: #fff;
      background: #8dc63f;
      display: inline-block;
      padding-right: 60px;
      padding-left: 15px;
      position: absolute;
      bottom: 0;
      left: 0; }
      .news-img-date::before {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 200%;
        background: #8dc63f;
        margin-left: -200%; }
      .news-img-date span {
        font-size: 18px; }
  .news-item li {
    font: 100% "OpenSans-Light", sans-serif;
    font-size: 14px;
    padding-top: 25px;
    border-bottom: 1px solid #000; }
    .news-item li:last-child {
      border: none; }
  .news-item-date {
    font: 100% "OpenSans-Semibold", sans-serif;
    color: #8dc63f;
    margin-bottom: 10px; }
  .news-item-title {
    font: 100% "OpenSans", sans-serif;
    font-size: 24px;
    margin-bottom: 20px; }
  .news-item-txt {
    margin-bottom: 25px; }
  .news-item-link, .content-warning-link, .price-txt a {
    color: #000;
    font-size: 18px;
    display: inline-block;
    padding-bottom: 20px; }
    .news-item-link:hover, .content-warning-link:hover, .price-txt a:hover {
      color: #000; }
    .news-item-link::before, .content-warning-link::before, .price-txt a::before {
      content: "+";
      width: 26px;
      height: 26px;
      background: #8dc63f;
      display: inline-block;
      text-align: center;
      margin-right: 10px;
      color: #fff; }

.gallery1 {
  padding: 15px;
  font-size: 0;
  display: block;
  width: 100%;
  max-width: 833px;
  margin: 0 auto; }
  .gallery1 li {
    position: relative;
    padding: 0 !important;
    overflow: hidden;
    width: 100%;
    max-width: 267px; }
    .gallery1 li:hover a img {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .gallery1 li a {
      overflow: hidden;
      display: block;
      position: relative; }
      .gallery1 li a img {
        -webkit-transition: .3s linear;
        -o-transition: .3s linear;
        transition: .3s linear;
        max-width: 100%;
        position: relative; }

.clients img {
  max-width: 100%; }

.price {
  padding-top: 25px; }
  .price-item {
    position: relative;
    padding-right: 0;
    width: 100%;
    max-width: 277px;
    margin: 0 auto;
    margin-bottom: 20px; }
  .price-txt {
    padding: 33px 15px 0 15px; }
    .price-txt h5 {
      font: 100% "OpenSans-Semibold", sans-serif;
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 20px; }
    .price-txt p {
      font: 100% "OpenSans-Light", sans-serif;
      font-size: 14px;
      margin-bottom: 25px;
      padding-right: 15px; }
    .price-txt a {
      font: 100% "OpenSans-Light", sans-serif;
      font-size: 18px; }
  .price-img {
    position: relative;
    display: block;
    overflow: hidden;
    height: 239px;
    background: #e5e3df; }
    .price-img a {
      text-decoration: none;
      display: block;
      outline: none; }
    .price-img::after {
      content: " ";
      width: 24px;
      height: 24px;
      background-image: url("../img/icon+.png");
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
      position: absolute;
      top: 23px;
      right: 30px;
      opacity: 0;
      -webkit-transition: .2s linear;
      -o-transition: .2s linear;
      transition: .2s linear; }
    .price-img:hover {
      text-decoration: none; }
      .price-img:hover::after {
        opacity: 1; }
    .price-img img {
      display: block;
      width: 100%;
      max-width: 240px;
      height: 103%;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
    .price-img span {
      display: block;
      position: relative;
      z-index: 5;
      font: 100% "OpenSans-Bold", sans-serif;
      font-size: 24px;
      color: #8dc63f;
      padding-left: 50px;
      padding-top: 17px; }

tr th {
  border-bottom: 1px solid #e5e3df;
  width: 180px; }

tr td {
  padding: 20px 0;
  border-bottom: 1px solid #e5e3df; }

table {
  overflow-x: auto;
  display: block;
  width: 700px; }

.content-table {
  overflow-x: scroll; }

.next {
  text-align: right; }
  .next-state {
    text-decoration: none;
    display: inline-block;
    color: #000;
    font: 100% "OpenSans-Light", sans-serif;
    font-size: 14px;
    padding-right: 40px; }
    .next-state:hover {
      text-decoration: none;
      color: #000; }
      .next-state:hover span::after {
        right: -30px; }
    .next-state span {
      font: 100% "OpenSans-Semibold", sans-serif;
      font-size: 14px;
      text-align: right;
      display: block;
      position: relative; }
      .next-state span::after {
        content: " ";
        -webkit-transition: .2s linear;
        -o-transition: .2s linear;
        transition: .2s linear;
        width: 8px;
        height: 12px;
        background-image: url("../img/arrow-next.png");
        display: inline-block;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        right: -20px; }

.pagination {
  font-size: 0;
  position: relative; }
  .pagination::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    width: 30px;
    background: #e5e3df; }
  .pagination a img {
    width: 100%;
    height: 100%; }
  .pagination li {
    display: inline-block; }
    .pagination li.active a {
      background: #8dc63f;
      color: #fff; }
    .pagination li a {
      font-size: 16px;
      -webkit-transition: .2s linear;
      -o-transition: .2s linear;
      transition: .2s linear;
      width: 36px;
      height: 36px;
      display: block;
      background: #eae9e5;
      color: #000;
      text-align: center;
      line-height: 36px;
      margin-right: 1px; }
      .pagination li a:hover {
        text-decoration: none;
        background: #8dc63f;
        color: #fff; }
      .pagination li a:active {
        text-decoration: none; }

.gallery2 {
  margin-left: -30px;
  width: 886px;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 30px; }

.row1-md {
  overflow: hidden;
  padding: 0;
  max-width: 487px;
  font-size: 0;
  display: block; }
  .row1-md:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .row1-md img {
    width: 100%;
    height: 100%;
    min-height: 344px;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear; }

.row1-sm {
  padding: 0;
  max-width: 487px; }
  .row1-sm a {
    display: block;
    font-size: 0;
    max-height: 172px;
    overflow: hidden; }
    .row1-sm a:hover img {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .row1-sm a img {
      width: 100%;
      height: 100%;
      min-height: 172px;
      -webkit-transition: .3s linear;
      -o-transition: .3s linear;
      transition: .3s linear; }

.row1-xs-item {
  height: 172px;
  float: left;
  display: block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 50%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center; }

.row1-xs-hover {
  position: absolute;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  opacity: 0;
  font-size: 0;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(141, 198, 63, 0.9);
  text-decoration: none;
  padding: 30px 25px; }
  .row1-xs-hover:hover {
    opacity: 1;
    text-decoration: none; }
  .row1-xs-hover p {
    font: 100% "OpenSans-Semibold", sans-serif;
    font-size: 18px;
    color: #5a4a42; }
  .row1-xs-hover span {
    display: block;
    color: #fff;
    font: 100% "OpenSans-Light", sans-serif;
    font-size: 18px;
    margin-top: 25px; }
    .row1-xs-hover span::before {
      content: "+";
      width: 26px;
      height: 26px;
      background: #fff;
      display: inline-block;
      text-align: center;
      margin-right: 10px;
      color: #8dc63f; }

.row3-md {
  max-height: 171px;
  overflow: hidden;
  display: block;
  max-width: 487px;
  padding: 0; }
  .row3-md:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .row3-md img {
    width: 100%;
    height: 100%;
    min-height: 171px;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear; }

.row4 a {
  overflow: hidden;
  padding: 0;
  display: block;
  width: 100%;
  max-width: 869px;
  font-size: 0;
  max-height: 411px; }
  .row4 a:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .row4 a img {
    width: 100%;
    height: 100%;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .header-call-item:first-child {
    padding-right: 17px; }
    .header-call-item:first-child::after {
      right: 6px; }
  .feedback {
    width: 45%;
    float: left; }
  .downloadPrice {
    width: 55%;
    float: right; }
  .social {
    width: 55%;
    float: right; }
  .address {
    position: relative; }
  .news {
    width: 45%;
    float: left; }
  .gallery2 {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px; }
  .pagination::before {
    display: none; }
  .pagination {
    text-align: center; } }

/**/
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .gallery2 {
    max-width: 487px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px; }
  .header-call {
    text-align: right; }
    .header-call-item:first-child {
      padding-right: 0; }
    .header-call-item::after {
      display: none; }
  .row4 a {
    max-width: 487px; }
  .section-header::after {
    display: none; }
  .slider {
    margin-left: 0; }
  .gallery1 {
    max-width: 565px;
    margin: 0 auto; }
  .block-txt {
    min-height: 2px !important; }
  .block-txt a {
    position: relative;
    bottom: 0;
    left: 0; } }

/**/
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .aside-left {
    width: 50%; }
  .gallery1 {
    max-width: 265px;
    margin: 0 auto; }
  .aside-right {
    width: 50%; }
  .feedback {
    width: 50%;
    float: left; }
  .downloadPrice {
    width: 50%;
    float: right; }
  .social {
    width: 50%;
    float: right; }
  .order-item {
    width: 100%;
    max-width: 320px;
    margin: 0 auto; }
  .order-item:nth-child(4) {
    border: none; }
    .order-item:nth-child(4)::before {
      display: none; }
    .order-item:nth-child(4)::after {
      display: none; }
  .order-item:nth-child(5) {
    border: none; }
    .order-item:nth-child(5)::before {
      display: none; }
    .order-item:nth-child(5)::after {
      display: none; }
  .order-item:nth-child(6) {
    border: none; }
    .order-item:nth-child(6)::before {
      display: none; }
    .order-item:nth-child(6)::after {
      display: none; }
  .options-item {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    min-height: 150px; }
  .content {
    padding-top: 5px; }
    .content h3 {
      text-align: center;
      margin-bottom: 10px;
      font-size: 20px; }
    .content p {
      font-size: 14px;
      margin-bottom: 15px; }
    .content h4 {
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 15px; }
  .options-item > p {
    font-size: 24px; }
  .main h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px; }
  .slider-item h1 {
    width: 100%;
    font-size: 27px; }
  .slider-item p {
    font-size: 15px; }
  .info-company p {
    font-size: 16px; }
  .address-town p {
    font-size: 20px; }
  .address-mail {
    font-size: 14px; }
  .order-item {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 200px !important; }
    .order-item h4 {
      margin-top: 0;
      margin-bottom: 0; }
  .news {
    width: 50%; }
  .news-item-title {
    font-size: 16px; }
  .news-item-txt {
    font-size: 14px; }
  .news-item-link, .content-warning-link, .price-txt a, .content-warning-link, .price-txt a {
    font-size: 15px; }
  .news-item-link::before, .content-warning-link::before, .price-txt a::before, .content-warning-link::before, .price-txt a::before {
    width: 20px;
    height: 20px; }
  .content > a {
    font-size: 16px; }
  .content > a::before {
    width: 20px;
    height: 20px; }
  .block-txt {
    min-height: 200px; }
  .block-txt a {
    font-size: 16px; }
  .block-txt a::before {
    width: 20px;
    height: 20px; }
  .price-item {
    margin: 0 auto; }
  tr th {
    font-size: 14px; }
  tr td {
    font-size: 14px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 520px) {
  .block-txt p {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px; }
  tr th {
    font-size: 12px;
    padding: 10px; }
  tr td {
    font-size: 12px;
    padding: 10px; }
  .content-list {
    padding: 10px; }
  .content-list1 li p {
    font-size: 14px; }
  .content-list1 li span {
    font-size: 12px; }
  .content-list1 li {
    margin-bottom: 10px; }
  .content-list2 li {
    font-size: 12px; }
  .content-text {
    padding: 10px; }
  .content-list3 {
    padding-left: 30px; }
  .content-list3 li {
    font-size: 14px; }
  .content-list3 li a {
    font-size: 14px; }
  .content-list3 li span {
    font-size: 12px; }
  .content-list3 li p {
    font-size: 14px; }
  .content-list2 li p {
    font-size: 12px; }
  .next-state {
    font-size: 12px; }
  .next-state span {
    font-size: 12px; }
  .content-warning {
    padding: 15px; }
  .content-delivery a {
    font-size: 16px; }
  .content-delivery a::before {
    width: 20px;
    height: 20px; }
  .price-txt h5 {
    font-size: 16px;
    margin-bottom: 10px; }
  .price-txt p {
    font-size: 12px;
    margin-bottom: 10px; }
  .clients img {
    display: block;
    min-height: 300px; }
  .content > a {
    font-size: 14px; }
  .block-txt a {
    font-size: 14px; }
  .block-txt h5 {
    font-size: 16px; }
  .news-item-title {
    font-size: 15px;
    margin-bottom: 10px; }
  .news-item-txt {
    font-size: 12px;
    margin-bottom: 10px; }
  .news-item-link, .content-warning-link, .price-txt a, .content-warning-link, .price-txt a {
    font-size: 14px; }
  .news-img-title {
    font-size: 18px; }
  .news-img-date {
    font-size: 24px;
    padding-right: 20px; }
    .news-img-date span {
      font-size: 15px; }
  .section-main {
    padding-bottom: 35px; }
  .news {
    width: 100%; }
  .socialIcon {
    padding: 20px 10px; }
  .header-call {
    padding-right: 15px;
    padding-left: 0;
    padding-top: 10px; }
    .header-call-item {
      font-size: 15px; }
  .header-logo img {
    max-width: 100px; }
  .feedback {
    width: 100%;
    padding-bottom: 15px; }
    .feedback p {
      font-size: 18px;
      margin-bottom: 5px; }
    .feedback span {
      font-size: 12px; }
  .downloadPrice p {
    font-size: 16px; }
  .downloadPrice a {
    font-size: 14px; }
  .content-blockImg {
    padding: 10px; }
  .downloadPrice span {
    font-size: 12px; }
  .content-img {
    height: 200px; }
  .options-item > p {
    font-size: 18px; }
  .options-item span {
    font-size: 12px; }
  .info-logo {
    width: 100%; }
  .info-company p {
    display: block;
    padding-top: 10px;
    font-size: 13px; }
  .address-town {
    width: 100%; }
    .address-town p {
      font-size: 16px; }
  .address-phone {
    width: 100%; }
    .address-phone a {
      font-size: 16px; }
  .address-mail {
    margin-top: 10px; }
  .address {
    padding: 15px; }
  .info-company {
    padding-left: 15px;
    padding-right: 15px; }
  .feedback-form-name, .feedback-form-email, .feedback-form-phone, .feedback-form-message, .feedback-form-email, .feedback-form-phone, .feedback-form-message {
    font-size: 13px; }
  .input-check label {
    font-size: 13px; }
  .feedback-form-send {
    font-size: 16px; }
  .downloadPrice {
    width: 100%;
    float: right; }
  .social {
    width: 100%;
    float: right; }
  .slider-item h1 {
    padding-top: 20px;
    font-size: 17px; }
    .slider-item h1 span {
      font-size: 17px; }
  .slider-item p {
    width: 100%;
    right: 0;
    max-width: 100%;
    padding: 15px; }
  .slick-dots {
    display: none !important; }
  .slider-item {
    min-height: 315px !important; }
  .links li a {
    font-size: 12px; }
  .main h2 {
    font-size: 20px; }
  .content h3 {
    font-size: 17px; }
  .content p {
    font-size: 12px; }
  .content h4 {
    font-size: 15px; }
  .siteMenu li a {
    font-size: 13px;
    padding: 10px 5px 10px 10px; }
  .siteMenu li.active a {
    font-size: 13px; }
  .mainMenu li a {
    font-size: 13px;
    padding: 10px 5px 10px 10px; }
  .mainMenu li.active a {
    font-size: 13px; }
  .order-item {
    min-height: 180px !important; }
  .options-item > p {
    font-size: 20px !important; }
  .contact-info p, .contact-tell a {
    font-size: 17px; }
  .contact-email p {
    font-size: 13px; }
  .block-txt a {
    position: relative;
    bottom: 0;
    left: 0; }
  .gallery2 {
    max-width: 320px; }
  .row1-md img {
    min-height: 1px !important; } }

/**/
/* Custom, iPhone Retina */
@media only screen and (max-width: 425px) {
  .aside-left {
    width: 100%; }
  .aside-right {
    width: 100%; }
  .siteMenu {
    margin-bottom: 30px; } }

/**/
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/**/
/* Extra Small Devices, Phones */
/**/
/* Small Devices, Tablets */
/**/
/* Medium Devices, Desktops */
/**/
/* Large Devices, Wide Screens */
/**/
